.email-list{
  padding: 50px;
  &__header {
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 20px;
  }

  &__divider {
    margin: 16px 0;
    color: black;
  }

  &__empty-message {
    text-align: center;
  }

  &__buttons{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
}

::ng-deep .mat-form-field {
  display: unset !important; 
}

::ng-deep .mat-dialog-actions {
  justify-content: flex-end !important;
  padding: 10px;
}



table {
  width: 100%;
}

