<div class="client-item">
  <h1 class="client-item__header">Detalhes do Cliente</h1>
  <hr class="client-item__divider" />
  <div class="client-item__body">
    <div class="client-item__row">
      <div class="client-item__img">
        <img [src]="clientData?.image">
      </div>
      <div class="client-item__labels">
        <div class="label">
          <span class="label-title">Inscrição:</span>
          <span class="label">{{clientData?.inscription || '-'}} </span>
        </div>
        <div class="label">
          <span class="label-title">Apelido:</span>
          <span class="label">{{clientData?.nickname || '-'}}</span>
        </div>
        <div class="label">
          <span class="label-title">Nome:</span>
          <span class="label">{{clientData?.name || '-'}}</span>
        </div>
        <div class="label">
          <span class="label-title">Status:</span>
          <span class="label">{{clientData?.status || '-'}}</span>
        </div>
      </div>
    </div>
    <div class="client-item__email">
      <email-list [data]="clientData" [isEditing]="isEditing"></email-list>
    </div>
    
    <div class="client-item__buttons">
      <button *ngIf="!isEditing" mat-raised-button (click)="editClient()">Editar</button>
      <button *ngIf="isEditing" mat-button color="warn" (click)="saveClient()" >Salvar</button>
      <button *ngIf="isEditing" mat-button color="warn" (click)="deleteClient()" >Excluir Cliente</button>
      <button mat-button color="primary" (click)="backList()">Voltar</button>
    </div>
  </div>
</div>
