
.client-item{
  padding: 50px;
  &__header {
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 20px;
  }

  &__img {
    width: 20%;
  }

  &__row {
    display: inline;
  }

  &__labels {
    display: inline-flex;
    .label{
      padding:20px;
      border-radius:10px;
      justify-content:left;
    }
  }

  &__email {
    padding: 15px;
  }

  &__profile-image {
    margin-right: 16px;
  }

  &__body{
    margin-bottom: 16px;
  }

  &__buttons{
    display: flex;
    justify-content: flex-end;
  }

  &__divider {
    margin: 16px 0;
    color: black;
  }
}
.label-title {
  font-weight: bold;
}

::ng-deep img {
  width: 120%;
}